@mixin transition-all($secs){
  -webkit-transition: all $secs;
  -moz-transition: all $secs;
  -ms-transition: all $secs;
  -o-transition: all $secs;
  transition: all $secs;
}
@mixin border-radius($radius){
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  border-radius:$radius;
}
@mixin remove-padding($pos){
  @media only screen and (min-width:1200px){
    @if($pos == 'top') {
      padding-top: 0;
    }
    @else if($pos == 'right'){
      padding-right:0;
    }
    @else if ($pos == 'bottom'){
      padding-bottom:0;
    }
    @else if($pos == 'left'){
      padding-left:0;
    }
    @else {
      padding:0;
    }
  }
}